{% extends 'base.html' %}

{% block title %}PABL - Teams{% endblock %}

{% block content %}

<h1 align="center">PABL 2019 Teams</h1>
<div class="container">
    <div class="row">
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='19909395') }}" class="list-group-item-action"> 1990/93/95 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='1992') }}" class="list-group-item-action"> 1992 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='1994') }}" class="list-group-item-action"> 1994 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='1996') }}" class="list-group-item-action"> 1996 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='1997') }}" class="list-group-item-action"> 1997 </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='1999') }}" class="list-group-item-action"> 1999 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='200018') }}" class="list-group-item-action"> 2000/18 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2002') }}" class="list-group-item-action"> 2002 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2003') }}" class="list-group-item-action"> 2003 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2004') }}" class="list-group-item-action"> 2004 </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2005') }}" class="list-group-item-action"> 2005 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2006') }}" class="list-group-item-action"> 2006 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2007') }}" class="list-group-item-action"> 2007 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2008') }}" class="list-group-item-action"> 2008 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2009') }}" class="list-group-item-action"> 2009 </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2010') }}" class="list-group-item-action"> 2010 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2012') }}" class="list-group-item-action"> 2012 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='201319') }}" class="list-group-item-action"> 2013/19 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2014') }}" class="list-group-item-action"> 2014 </a>
        </div>
        <div class="col">
    <a class="btn btn-outline-primary btn-lg btn-block" href="{{ url_for('team', name='2015') }}" class="list-group-item-action"> 2015 </a>
        </div>
    </div>
</div>
{% endblock %}